<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KWK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5FC92F42C220BE900F8D38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5FC93042C220BEC00F8D38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5FC930E2C220BEC00F8D38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
